.tag {
    width: max-content;
    display: block;
    font-family: $font-mono;
    font-weight: 500;
    font-size: $font-size-xxs;
    padding: 2px $space-xs 1px;
    backdrop-filter: $backdrop-blur-md;
    border-radius: $radius-lg;
    z-index: 1;
    background-color: $glass-bg-intense;
    box-shadow: $shadow-md;
    text-transform: uppercase;
}