.about {
    max-width: 66.666%;
    margin: 144px auto 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 200px;

    h2 {
        font-size: 50px;
        margin-bottom: 40px;
    }
}