.project-grid {
    list-style: none;
    margin: 0;
    padding: 0;

    display: grid;
    gap: 2rem;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
        gap: 2.5rem;
    }
}

.project-grid__item {
    // No styles needed - just a wrapper
}