// Content card styling for Swiper slides

.swiper-slide-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: $space-md;

    // .swiper-slide-content .icon
    .icon {
        height: 58%;
        background: rgba(255, 255, 255, 1);
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-position: center;
        mask-size: contain;
        -webkit-mask-size: contain;
    }

    // .swiper-slide-content__card
    &__card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14.0625rem;
        height: 18.75rem;
        border-radius: $radius-sm;
        background: rgba(255, 255, 255, 0.12);
        position: relative;
        overflow: hidden;

        // .swiper-slide .swiper-slide-content__card
        .swiper-slide & {
            box-shadow: -5px 5px 3px rgba(0, 0, 0, 0.03), -3px 3px 3px rgba(0, 0, 0, 0.1), -1px 1px 2px rgba(0, 0, 0, 0.17), 0px 0px 1px rgba(0, 0, 0, 0.19);
        }


        // .swiper-slide-active .swiper-slide-content__card
        .swiper-slide-active & {
            box-shadow: -96px 127px 64px hsl(220 10% 20% / 0.04),
                -54px 71px 54px hsl(220 10% 20% / 0.08),
                -24px 32px 40px hsl(220 10% 20% / 0.14),
                -6px 8px 22px hsl(220 10% 20% / 0.16);
            filter: saturate(1.5);
        }

        // .swiper-slide-next .swiper-slide-content__card
        // .swiper-slide-prev .swiper-slide-content__card
        .swiper-slide-next &,
        .swiper-slide-prev & {
            box-shadow: -31px 46px 22px rgba(0, 0, 0, 0.01), -17px 26px 19px rgba(0, 0, 0, 0.03), -8px 11px 14px rgba(0, 0, 0, 0.2), -2px 3px 8px rgba(0, 0, 0, 0.06);
        }
    }

    // .swiper-slide-content__title
    &__title {
        font-family: $font-body;
        font-weight: 600;
        font-size: 1.75rem;
        text-align: center;
        line-height: 1.2;
        margin: $space-sm auto $space-lg-tight;
    }

    // .swiper-slide-content__tags
    &__tags {
        display: flex;
        column-gap: $space-xs;
        row-gap: $space-xxs;
        flex-wrap: wrap;
        justify-content: center;

        // .swiper-slide .swiper-slide-content__tags
        .swiper-slide & {
            opacity: 0;
        }

        // .swiper-slide-active .swiper-slide-content__tags
        .swiper-slide-active & {
            opacity: 1;
            transition: opacity 0.3s ease;
        }
    }
}

.swiper-carousel {

    // .swiper-carousel .swiper-slide
    .swiper-slide {
        width: 14.0625rem;
        transform: scale(.75) !important;
        opacity: 0.7;
        border-radius: $radius-sm;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    // .swiper-carousel .swiper-slide-next
    // .swiper-carousel .swiper-slide-prev
    .swiper-slide-next,
    .swiper-slide-prev {
        transform: scale(.9) !important;
        opacity: 0.85;
    }

    // .swiper-carousel .swiper-slide-active
    .swiper-slide-active {
        transform: scale(1) !important;
        opacity: 1;
    }
}
