.swiper-slide-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;

    .icon {
        height: 66%;
        background: rgba(255, 255, 255, 1);
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-position: center;
        mask-size: contain;
        -webkit-mask-size: contain;
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
        filter: drop-shadow(0px 1px black);
    }

    &__card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 225px;
        height: 300px;
        border-radius: 32px;
        background: rgba(255, 255, 255, 0.12);
        position: relative;
        overflow: hidden;


        // .swiper-carousel .swiper-slide
        .swiper-slide & {
            box-shadow: -5px 5px 3px rgba(0, 0, 0, 0.03), -3px 3px 3px rgba(0, 0, 0, 0.1), -1px 1px 2px rgba(0, 0, 0, 0.17), 0px 0px 1px rgba(0, 0, 0, 0.19);
        }


        .swiper-slide-active & {
            box-shadow: -96px 127px 64px rgba(0, 0, 0, 0.01), -54px 71px 54px rgba(0, 0, 0, 0.05), -24px 32px 40px rgba(0, 0, 0, 0.2), -6px 8px 22px rgba(0, 0, 0, 0.1);
            filter: saturate(1.5);
        }

        .swiper-slide-next &,
        .swiper-slide-prev & {
            box-shadow: -31px 46px 22px rgba(0, 0, 0, 0.01), -17px 26px 19px rgba(0, 0, 0, 0.03), -8px 11px 14px rgba(0, 0, 0, 0.2), -2px 3px 8px rgba(0, 0, 0, 0.06);
        }
    }


    &__info {
        // background-color: rgba(255, 255, 255, 0.5);
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // position: relative;
    }

    &__title {
        font-family: $primary-font;
        font-weight: $primary-font-weight;
        letter-spacing: $primary-font-letter-spacing;
        font-size: 28px;
        color: $primary-text;
        text-align: center;
        line-height: 1.2;
    }

}

.swiper-carousel {

    .swiper-slide {
        width: 225px;
        transform: scale(.75) !important;
        opacity: 0.7;
        border-radius: 32px;
    }

    .swiper-slide-next,
    .swiper-slide-prev {
        transform: scale(.9) !important;
        opacity: 0.85;
    }

    .swiper-slide-active {
        transform: scale(1) !important;
        opacity: 1;
    }
}