:root {
    --color: var(--color);
}

.project-card {
    break-inside: avoid;
    display: block;
    height: 260px;
    @include window-box;
    @include space(s, padding);
    backdrop-filter: hue-rotate(3deg);
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 340px;
    // background-color: var(--color);
    background: linear-gradient(180deg, var(--color) 0%, rgba(0, 0, 0, 0) 62%);

    // .project-card__link
    &__link {
        display: block;
        width: min-content;
    }

    // .project-card .icon
    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.1;
        width: 40%;
        height: 0;
        padding-bottom: 40%;
        filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
    }

    // .project-card__title
    &__title {
        // text-shadow: #e0e0e0 1px 1px 0;
        font-family: $font-mono;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0;
    }

    // .project-card .tag-list
    .tag-list {
        width: 100%;
        margin: 0;
        display: flex;
        flex-wrap: wrap;

        // .project-card .tag-list .tag
        .tag {
            font-size: 8px;
        }
    }
}