// Color palette definitions

// Neutrals
$color-white: #ffffff;
$color-black: #2c1a14;

// Backdrop / Glass Layer Tokens
$glass-bg: rgba(255, 255, 255, 0.1);
$glass-bg-intense: rgba(255, 255, 255, 0.4);
$glass-border: rgba(0, 120, 0, 0.1);

// Accents
$blob-yellow: #ffde59;
$blob-pink: #ff7ac4;
$blob-blue: #59caff;


// Project colors
$project-fb: #eedb71b3;
$project-df: #f28fc4b3;
$project-rb: #a13c63b3;
$project-ea: #c7434fb3;
$project-hl: #8a8a8ab3;
$project-ll: #1a1a1ab3;
$project-prefect: #0b1619b3;
$project-ps: #0096a2b3;
$project-nu: #3247a7b3;
$project-scr: #3a2a22b3;
$project-pc: #744f28b3;

// Chart colors
$skill-primary: #45b649;
$skill-secondary: #dce35b;
$skill-axis: rgba(0, 11, 0, 0.1);