@use './variables' as vars;
@use './media-query' as mq;

@mixin flex-center($gap: null) {
    display: flex;
    justify-content: center;
    align-items: center;

    @if $gap {
        gap: $gap;
    }
}

@mixin flex-column($gap: null) {
    display: flex;
    flex-direction: column;

    @if $gap {
        gap: $gap;
    }
}

@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin container() {
    margin: 0 auto;
    padding: vars.$space-lg;
    max-width: 100%;

    @include mq.media(tablet) {
        max-width: 720px;
        padding: vars.$space-lg;
    }

    @include mq.media(small-desktop) {
        max-width: 960px;
        padding: vars.$space-xl;
    }

    @include mq.media(desktop) {
        max-width: 1140px;
        padding: vars.$space-2xl;
    }
}

@mixin auto-center($width: fit-content) {
    margin-left: auto;
    margin-right: auto;
    width: $width;
}