// Helper mixins shared across the design system

@use './variables' as vars;
@use './typography' as typo;
@use '../mixins/media-queries' as mq;

@mixin flex-center($gap: null) {
    display: flex;
    justify-content: center;
    align-items: center;

    @if $gap {
        gap: $gap;
    }
}

@mixin flex-column($gap: null) {
    display: flex;
    flex-direction: column;

    @if $gap {
        gap: $gap;
    }
}

@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}



@mixin auto-center($width: fit-content) {
    margin-left: auto;
    margin-right: auto;
    width: $width;
}

@mixin default-paragraph() {
    font-size: typo.$font-size-sm;
    margin-bottom: vars.$space-xs;

    @include mq.media(tablet) {
        font-size: typo.$font-size-md;
    }

    @include mq.media(small-desktop) {
        font-size: typo.$font-size-lg;
    }
}