// Font stacks and typography helpers

@use './variables' as vars;

// Fonts
@font-face {
    font-family: 'StringerLight';
    src: url('../../assets/fonts/StringerLight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

// Fonts
@font-face {
    font-family: 'StringerThin';
    src: url('../../assets/fonts/StringerThin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "SUSEMono";
    src: url('../../assets/fonts/SUSEMono.ttf') format('truetype');
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}


$font-body: 'StringerLight', serif;
$font-mono: 'SUSEMono', monospace;

$font-weight-regular: 400;
$font-weight-light: 300;

$letter-spacing-mono: vars.$size-1px;

// Font Sizes

$font-size-xxs: .625rem; // 10px
$font-size-xs: 0.75rem; // 12px
$font-size-sm: 0.875rem; // 14px
$font-size-md: 1rem; // 16px
$font-size-lg: 1.25rem; // 20px
$font-size-xl: 1.5rem; // 24px
$font-size-2xl: 2rem; // 32px
$font-size-3xl: 3rem; // 48px
$font-size-4xl: 4rem; // 64px
$font-size-5xl: 6rem; // 96px
$font-size-xxl: 7.125rem; // 114px
