// Fonts
@font-face {
    font-family: 'Stringer-Thin-Web';
    src: url('../../assets/fonts/Stringer-Thin-Web.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url('../../assets/fonts/JetBrainsMono.ttf') format('truetype');
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

$font-body: 'Stringer-Thin-Web', serif;
$font-mono: 'JetBrains Mono', monospace;

$font-weight-regular: 400;
$font-weight-light: 300;

// Font Sizes
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.5rem;
$font-size-2xl: 2rem;
$font-size-3xl: 3rem;
$font-size-4xl: 4rem;
$font-size-5xl: 6rem;
$font-size-xxl: 7.125rem;