@use "../abstracts" as *;

.screenreader,
.visually-hidden {
    position: absolute !important;
    width: $size-1px !important;
    height: $size-1px !important;
    padding: 0 !important;
    margin: -$size-1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

/* ----------------------------------------
   Hide + Responsive Visibility
---------------------------------------- */

/* Generic hide */
.hide {
    display: none !important;
}

/* Hide on mobile breakpoint */
.hide-on-mobile {
    @include media(mobile-only) {
        display: none !important;
    }
}

.mobile-only {
    display: none !important;

    @include media(mobile-only) {
        display: block !important;
    }
}

/* Hide on tablet breakpoint */
.hide-on-tablet {
    @include media(tablet-only) {
        display: none !important;
    }
}

/* Hide on small desktop breakpoint */
.hide-on-small-desktop {
    @include media(small-desktop-only) {
        display: none !important;
    }
}

/* Hide on small desktop breakpoint */
.hide-on-desktop {
    @include media(desktop) {
        display: none !important;
    }
}
