.light {
    width: 100%;
    height: 100%;
    border-radius: $radius-lg;
    position: absolute;

    // .light__container
    &__container {
        position: fixed;
        width: 100vw;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        box-sizing: border-box;
    }

    // .light__group
    &__group {
        position: absolute;
        width: 60%;
        height: 50%;
        top: 10%;
        left: 10%;
        animation: rotate 60s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
    }

    // .light--1
    &--1 {
        background: radial-gradient(circle at center, #ffde59, transparent 70%);
        animation: glow 6s ease-in-out infinite,
            drift-1 18s ease-in-out infinite alternate;

    }

    // .light--2
    &--2 {
        background: radial-gradient(circle at center, #ff7ac4, transparent 70%);
        top: 53%;
        animation: glow 6s 1s ease-in-out infinite;
        animation: drift-2 22s ease-in-out infinite alternate;
    }

    // .light--3
    &--3 {
        background: radial-gradient(circle at center, #59caff, transparent 50%);
        top: 35%;
        left: 30%;
        animation: glow 6s 3s ease-in-out infinite;
    }

    // .light__overlay
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        backdrop-filter: blur(90px);
    }
}

@keyframes glow {

    // 0%
    // 100%
    0%,
    100% {
        transform: scale(1) translate(0, 0);
        opacity: 0.8;
    }

    // 50%
    50% {
        transform: scale(1.5) skew(5deg) translate(-10px, 10px);
        opacity: 1;
    }
}

@keyframes rotate {

    // 0%
    0% {
        transform: rotate(0deg);
    }

    // 100%
    100% {
        transform: rotate(360deg);
    }
}