@use './variables' as *;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: $primary-font;
    line-height: 1.8;
}

h1 {
    font-family: $primary-font;
    font-size: 96px;
    margin: 0;
    padding: 0;
    font-weight: 100;
}

h1.intro__title {
    font-size: 114px;
}

h2 {
    font-family: $primary-font;
    font-size: 96px;
    margin: 0;
    padding: 0;
    font-weight: 100;
}

h3 {
    font-family: $secondary-font;
    font-size: 14px;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-weight: bold;
}

p {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li a {
    font-family: $primary-font;
    font-size: 18px;
}

nav a {
    font-family: $secondary-font;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: inherit;
}

.screenreader {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}