@font-face {
    font-family: 'Stringer-Thin-Web';
    src: url('../assets/fonts/Stringer-Thin-Web.woff2') format('woff2'),
        url('../assets/fonts/Stringer-Thin-Web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url('../assets/fonts/JetBrainsMono.ttf') format('truetype');
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

$primary-font: 'Stringer-Thin-Web', serif;
$secondary-font: 'JetBrains Mono', monospace;
$secondary-font-weight: normal;