@font-face {
    font-family: 'Stringer-Thin-Web';
    src: url('../assets/fonts/Stringer-Thin-Web.woff2') format('woff2'),
        url('../assets/fonts/Stringer-Thin-Web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url('../assets/fonts/JetBrainsMono.ttf') format('truetype');
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

$primary-font: 'Stringer-Thin-Web', serif;
$secondary-font: 'JetBrains Mono', monospace;
$secondary-font-weight: normal;

$default-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
    0 0 0 1px hsla(0, 0%, 0%, 0.05),
    0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
    0 3.5px 6px hsla(0, 0%, 0%, 0.09);
$default-backdrop: blur(8px) brightness(99%) saturate(140%);
$default-background: rgba($color: #fff1e7, $alpha: 0.3);