.icon-link {
    @include flex-center($space-xs);
    justify-content: flex-start;
    margin-bottom: $space-xs;

    @include media(mobile-only) {
        line-height: 1.3;
    }

    // .icon-link__text
    &__text {
        border-bottom: $size-1px solid black;
    }
}
