// Header navigation component styles

.nav {
    @include flex-center($space-lg);
    @include auto-center(100%);
    position: relative;
    max-width: 20rem;
    padding: $space-md $space-lg;
    border: $size-1px solid $glass-border;
    border-radius: $radius-lg;
    box-shadow: $shadow-inset;
    backdrop-filter: $backdrop-blur-md;


    @include media(tablet) {
        max-width: 30rem;
    }

    @include media(small-desktop) {
        max-width: 35rem;
        gap: $space-xl;
    }

    @include media(desktop) {
        max-width: 38rem;
        padding: 1.75rem 0 $space-lg;
        gap: $space-2xl;
    }

    // .nav__item
    &__item {
        position: relative;
        z-index: 2;
        text-transform: uppercase;
        font-weight: bold;

        // .nav__item sup
        sup {
            font-size: 0.5rem;
            margin-left: $space-xxs;
        }
    }
}
