// Figure out highlight animation later

.nav {
    position: relative;
    top: 20px;
    left: 0;
    right: 0;
    // height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    border-radius: $radius-lg;
    box-shadow: $shadow-md;
    width: max-content;
    margin: 0 auto;

    @include media(desktop) {
        padding-top: 32px;
    }

    // .nav__item
    &__item {
        position: relative;
        cursor: pointer;
        z-index: 2;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        font-family: $font-mono;
        letter-spacing: 1px;
        font-size: 10px;
        padding: 11px 13px;


        @include media(desktop) {
            padding: 16px 32px;
            font-size: 12px;
        }

        // .nav__item sup
        sup {
            font-size: 8px;
            margin-left: 4px;
        }
    }

    // .nav__highlight
    &__highlight {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: $default-background;
        backdrop-filter: $backdrop-blur-md;
        border-radius: $radius-lg;
        z-index: 1;
        width: 100%;
        transform: translateX(0);
        box-shadow: $shadow-md;
    }
}