.nav {
    @include flex-center($space-lg);
    @include auto-center(100%);
    position: relative;
    box-shadow: $shadow-md;
    border-radius: $radius-lg;
    max-width: 20rem;
    padding: $space-md $space-lg;
    border: 1px solid $glass-border;
    backdrop-filter: $backdrop-blur-xl;


    @include media(tablet) {
        max-width: 30rem;
    }

    @include media(small-desktop) {
        max-width: 35rem;
        gap: $space-xl;
    }

    @include media(desktop) {
        max-width: 38rem;
        padding: $space-lg 0;
        gap: $space-2xl;
    }

    // .nav__item
    &__item {
        position: relative;
        z-index: 2;
        text-transform: uppercase;

        // .nav__item sup
        sup {
            font-size: 8px;
            margin-left: 4px;
        }
    }
}