.project-grid {

    &__title {}

    &__container {
        column-count: 3;
        column-gap: 2rem;
        padding: 1rem 0;

        @media (max-width: 900px) {
            column-count: 2;
        }

        @media (max-width: 600px) {
            column-count: 1;
        }
    }
}