.certificates-section {
    @include container;

    // .certificates-section__swiper
    &__swiper {
        overflow: visible;
        padding: 0 0 $space-3xl;

        .swiper-pagination {
            left: -44px;
        }

        // .certificates-section__swiper .swiper-pagination-bullet-active
        .swiper-pagination-bullet-active {
            background-color: $color-black;
        }
    }

    // .certificates-section__certificates-list
    &__certificates-list {
        bottom: 0;
    }

    // .certificates-section__image-container
    &__image-container {
        aspect-ratio: 4/3;
        backdrop-filter: $backdrop-blur-md;
        box-shadow: $shadow-inset;
        border-radius: $radius-sm;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        // .certificates-section__image-container img
        img {
            display: block;
            max-width: 80%;
            width: 100%;
            margin: 0 auto;
        }
    }
}