.footer {
    margin: 64px auto 12px;
    max-width: 66%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 14px;

    &__item {
        position: relative;
        padding: 1rem 2rem;
        cursor: pointer;
        z-index: 2;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: $font-mono;
        letter-spacing: 1px;
        cursor: pointer;

        sup {
            font-size: 8px;
            margin-left: 4px;
        }
    }

    &__social-links {
        display: flex;
        gap: 8px;
    }

    &__social-link {
        box-shadow: $shadow-inset;
        border-radius: $radius-sm;
        padding: 4px;
        cursor: pointer;
    }
}