.footer {
    @include container;
    @include flex-column($space-sm);
    align-items: center;
    margin-top: 100%;
    padding-bottom: 0;

    &__nav {
        @include flex-center($space-sm);
    }

    &__item {
        font-size: $font-size-xs;
        text-transform: uppercase;
        font-family: $font-mono;

        @include media(tablet) {
            font-size: $font-size-sm;
            gap: $space-md;
        }

        sup {
            font-size: $font-size-xxs;
            margin-left: $space-xxs;
        }
    }

    &__social-links {
        @include flex-center($space-xs);
    }

    &__social-link {
        box-shadow: $shadow-inset;
        border-radius: $radius-sm;
        padding: $space-xxs;
    }
}