// Highlighted work/projects section

.work {
    margin-top: $space-6xl;

    // .work .swiper
    .swiper {
        padding: 4rem 0 7.5rem;

        // .work .swiper-scrollbar
        &-scrollbar {
            max-width: 50%;
            left: 50% !important;
            transform: translateX(-50%);
            bottom: 5.875rem !important;
        }

        // .work .swiper-button-prev
        // .work .swiper-button-next
        &-button-prev,
        &-button-next {
            position: absolute;
            bottom: 4.75rem !important;
            top: unset !important;
            left: unset !important;
            right: unset !important;
            color: inherit;
            backdrop-filter: $backdrop-blur-md;
            border-radius: $radius-sm;
            width: $space-5xl;
            box-shadow: $shadow-md;

            // .work .swiper-button-prev::before
            // .work .swiper-button-prev::after
            // .work .swiper-button-next::before
            // .work .swiper-button-next::after
            &::before,
            &::after {
                cursor: pointer;
                z-index: 2;
                font-weight: 500;
                font-size: $font-size-xs;
                text-transform: uppercase;
                text-decoration: none;
                font-family: $font-mono;
            }
        }

        // .work .swiper-navigation-icon
        &-navigation-icon {
            display: none;
        }

        // .work .swiper-button-prev
        &-button-prev {
            right: 78% !important;

            // .work .swiper-button-prev::after
            &::after {
                content: 'Back';
                padding-left: $space-xs;
            }

            // .work .swiper-button-prev::before
            &::before {
                content: '';
                background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 8H2M2 8L7 3M2 8L7 13' stroke='currentColor' stroke-width='1.5'/%3E%3C/svg%3E") no-repeat center;
                width: 1rem;
                height: 1rem;
            }
        }

        // .work .swiper-button-next
        &-button-next {
            left: 78% !important;

            // .work .swiper-button-next::before
            &::before {
                content: 'Next';
                padding-right: $space-xs;
            }

            // .work .swiper-button-next::after
            &::after {
                content: '';
                background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 8H14M14 8L9 3M14 8L9 13' stroke='currentColor' stroke-width='1.5'/%3E%3C/svg%3E") no-repeat center;
                width: 1rem;
                height: 1rem;
            }
        }
    }


    // .work__title
    &__title {
        text-align: center;
    }
}
