.work {
    margin-top: 200px;

    // .work .swiper
    .swiper {
        padding: 64px 0;

        // .work .swiper-scrollbar
        &-scrollbar {
            max-width: 50%;
            left: 50% !important;
            transform: translateX(-50%);
            bottom: 30px !important;
        }

        // .work .swiper-button-prev
        // .work .swiper-button-next
        &-button-prev,
        &-button-next {
            position: absolute;
            bottom: 12px !important;
            top: unset !important;
            left: unset !important;
            right: unset !important;
            color: inherit;
            backdrop-filter: $default-backdrop;
            border-radius: $small-border-radius;
            width: 100px;
            box-shadow: $default-shadow;

            // .work .swiper-button-prev::before
            // .work .swiper-button-prev::after
            // .work .swiper-button-next::before
            // .work .swiper-button-next::after
            &::before,
            &::after {
                cursor: pointer;
                z-index: 2;
                font-weight: 500;
                font-size: 12px;
                text-transform: uppercase;
                text-decoration: none;
                font-family: $secondary-font;
            }
        }

        // .work .swiper-navigation-icon
        &-navigation-icon {
            display: none;
        }

        // .work .swiper-button-prev
        &-button-prev {
            right: 78% !important;

            // .work .swiper-button-prev::after
            &::after {
                content: 'Back';
                padding-left: 8px;
            }

            // .work .swiper-button-prev::before
            &::before {
                content: '';
                background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 8H2M2 8L7 3M2 8L7 13' stroke='currentColor' stroke-width='1.5'/%3E%3C/svg%3E") no-repeat center;
                width: 16px;
                height: 16px;
            }
        }

        // .work .swiper-button-next
        &-button-next {
            left: 78% !important;

            // .work .swiper-button-next::before
            &::before {
                content: 'Next';
                padding-right: 8px;
            }

            // .work .swiper-button-next::after
            &::after {
                content: '';
                background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 8H14M14 8L9 3M14 8L9 13' stroke='currentColor' stroke-width='1.5'/%3E%3C/svg%3E") no-repeat center;
                width: 16px;
                height: 16px;
            }
        }
    }


    // .work__title
    &__title {
        text-align: center;
    }
}