.intro {

    &__container {
        @include container;
        @include flex-column($space-xl);

        @include media(small-desktop) {
            flex-direction: row;
            justify-content: center;
            gap: $section-wide;
        }
    }

    &__column {

        &-left {

            @include media(small-desktop) {
                width: 50%;
            }
        }

        &-right {

            @include media(small-desktop) {
                @include flex-center;
            }
        }
    }

    &__title {
        line-height: 1.2;
        margin: 0 0 $space-xl;

        @include media(small-desktop) {
            line-height: 1;
        }
    }

    &__description {
        margin-bottom: $space-xl;

        @include media(small-desktop) {
            font-size: $font-size-xl;
            margin-bottom: $space-3xl;
        }
    }

    &__profile {
        @include flex-center($space-lg);
        justify-content: flex-start;

        &-image {
            width: 80px;
            height: 80px;
            object-fit: cover;
            box-shadow: $shadow-md;
            border-radius: $radius-lg;
        }

        &-role,
        &-location {
            font-family: $font-mono;
            text-transform: uppercase;
            line-height: 1.2;
            font-size: $font-size-md;
        }
    }

    &__useful-links {

        &-title {
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: $space-md;
        }
    }
}