.about-section {
    @include flex-column($space-md);
    @include container;
    flex-direction: column-reverse;

    @include media(small-desktop) {
        flex-direction: row;
        gap: $space-4xl;
    }

    // .about-section__content
    &__content {
        @include media(small-desktop) {
            max-width: 64%;
        }
    }


    // .about-section__title
    &__title {
        font-size: $font-size-2xl;

        @include media(small-desktop) {
            margin-bottom: $space-md;
            font-size: $font-size-3xl;
        }
    }

    // .about-section__text
    &__text {
        @include default-paragraph();

        // .about-section__text ul
        ul {
            padding: 0 0 0 $space-xl;
            margin: unset;
            list-style: unset;
        }
    }

    // .about-section__sidebar
    &__sidebar {
        display: flex;
        gap: $space-xxs;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: center;
        margin-bottom: $space-md;

        border-radius: $radius-sm;
        box-shadow: $shadow-inset;
        backdrop-filter: $backdrop-blur-md;
        height: fit-content;
        overflow: hidden;
        gap: 20px;
        padding: 16px;


        @include media(small-desktop) {
            max-width: 290px;
            padding: 20px;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 114px;
        }

        // .about-section__sidebar-title
        &-title {
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: $space-md;
            margin-left: -38px;

            @include media(small-desktop) {
                margin-left: 0;
            }
        }

        // .about-section__sidebar-image
        &-image {
            margin-top: $space-md;
            max-width: 100px;
            border-radius: $radius-sm;
            box-shadow: $shadow-md;
            height: auto;

            @include media(small-desktop) {
                max-width: 80%;
                margin: 1rem auto 0;
            }
        }
    }
}