@use 'sass:map';
@use 'sass:math';
@use 'sass:list';
@use './media-queries' as mq;
@use './spacing' as sp;
@use '../abstracts/variables' as vars;
@use '../utilities/functions' as func;

@mixin container() {
    max-width: 100%;
    @include sp.space(m, 'margin');

    @include mq.media(tablet) {
        max-width: 62%;
        margin-left: auto;
        margin-right: auto;
    }

    @include mq.media(large-desktop) {
        max-width: 1280px;
    }
}

@mixin window-box {
    @include sp.space(s l, padding);
    border-radius: func.radius(sm);
    box-shadow: func.shadow(inset);
    -webkit-backdrop-filter: brightness(99%) saturate(140%);
    backdrop-filter: brightness(99%) saturate(140%);
}

@mixin horizontal-layout($gap: vars.$spacing-m) {
    display: flex;
    flex-direction: row;
    gap: func.rem($gap);
    align-items: center;
}