@use 'sass:map';
@use 'sass:list';
@use '../utilities/functions' as func;
@use './media-queries' as mq;

$typography-scale: (
    paragraph: (mobile: (16, 26),
        tablet: (17, 28),
        small-desktop: (18, 29),
        desktop: (18, 29),
        large-desktop: (20, 32)),

    h6: (mobile: (20, 26),
        tablet: (22, 28),
        small-desktop: (22, 28),
        desktop: (24, 30),
        large-desktop: (24, 30)),

    h5: (mobile: (24, 32),
        tablet: (26, 34),
        small-desktop: (28, 36),
        desktop: (30, 38),
        large-desktop: (32, 40)),

    h4: (mobile: (30, 40),
        tablet: (32, 42),
        small-desktop: (34, 46),
        desktop: (36, 48),
        large-desktop: (38, 50)),

    h3: (mobile: (36, 46),
        tablet: (40, 50),
        small-desktop: (44, 54),
        desktop: (48, 58),
        large-desktop: (52, 62)),

    h2: (mobile: (44, 56),
        tablet: (48, 60),
        small-desktop: (52, 64),
        desktop: (56, 68),
        large-desktop: (60, 72)),

    h1: (mobile: (56, 68),
        tablet: (64, 78),
        small-desktop: (72, 88),
        desktop: (80, 96),
        large-desktop: (88, 104)),

    mono: (mobile: (13, 18),
        tablet: (14, 20),
        small-desktop: (15, 22),
        desktop: (15, 22),
        large-desktop: (15, 22)),

    blockquote: (mobile: (20, 32.4),
        tablet: (22, 35.64),
        small-desktop: (22, 35.64),
        desktop: (24, 38.88),
        large-desktop: (24, 38.88)),
);


@mixin type($level) {
    $settings: map.get($typography-scale, $level);

    // Base mobile styles
    $mobile: map.get($settings, mobile);
    font-size: func.rem(list.nth($mobile, 1));
    line-height: func.rem(list.nth($mobile, 2));

    // Tablet → Large Desktop
    @each $breakpoint, $values in $settings {
        @if $breakpoint !=mobile {
            @include mq.media($breakpoint) {
                font-size: func.rem(list.nth($values, 1));
                line-height: func.rem(list.nth($values, 2));
            }
        }
    }
}