@use 'sass:map';
@use '../utilities/functions' as func;
@use '../mixins/media-query' as mq;

$typography-scale: (
    paragraph: (mobile: (16, 26),
        tablet: (17, 28),
        small-desktop: (18, 29),
        desktop: (18, 29),
        large-desktop: (20, 32)),
    h6: (mobile: (26, 42),
        tablet: (27, 44),
        small-desktop: (29, 47),
        desktop: (29, 47),
        large-desktop: (32, 52)),
    h5: (mobile: (42, 68),
        tablet: (44, 71),
        small-desktop: (47, 76),
        desktop: (47, 76),
        large-desktop: (52, 84)),
    h4: (mobile: (68, 110),
        tablet: (71, 115),
        small-desktop: (76, 123),
        desktop: (76, 123),
        large-desktop: (84, 136)),
    h3: (mobile: (110, 178),
        tablet: (115, 186),
        small-desktop: (123, 199),
        desktop: (123, 199),
        large-desktop: (136, 220)),
    h2: (mobile: (178, 288),
        tablet: (186, 300),
        small-desktop: (199, 322),
        desktop: (199, 322),
        large-desktop: (220, 356)),
    h1: (mobile: (288, 466),
        tablet: (300, 485),
        small-desktop: (322, 521),
        desktop: (322, 521),
        large-desktop: (356, 576))
);

@mixin type($level) {
    $settings: map.get($typography-scale, $level);

    // Base mobile styles
    $mobile: map.get($settings, mobile);
    font-size: func.rem(nth($mobile, 1));
    line-height: func.rem(nth($mobile, 2));

    // Tablet → Large Desktop
    @each $breakpoint, $values in $settings {
        @if $breakpoint !=mobile {
            @include mq.media($breakpoint) {
                font-size: func.rem(nth($values, 1));
                line-height: func.rem(nth($values, 2));
            }
        }
    }
}