@use '../mixins' as *;
@use '../abstracts/typography' as type;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote {
    margin: 0;
    padding: 0;
    font-family: type.$font-serif;
    font-weight: 400;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
button,
textarea,
select {
    font: inherit;
}

header,
main,
footer {
    @include container();
}

h1 {
    @include type(h1);
    @include space(m, 'margin-top');
    @include space(s, 'margin-bottom');
}

h2 {
    @include type(h2);
    @include space(xl, 'margin-top');
    @include space(m, 'margin-bottom');
}

h3 {
    @include type(h5);
    @include space(m, 'margin-top');
    @include space(s, 'margin-bottom');
}

h4 {
    @include type(h4);
}

h5 {
    @include type(h5);
}

h6 {
    @include type(h6);
}

blockquote {
    @include type(blockquote);
    @include space(m, 'margin-bottom');
}

p {
    @include type(paragraph);
    @include space(m, 'margin-bottom');
}

ul {
    @include space(xs, 'margin-top');
    @include space(s, 'margin-bottom');
}

main li {
    @include type(paragraph);
    @include space(xs, 'margin-bottom');
    @include space(xs, 'padding-left');
    @include space(xs, 'gap');
    display: flex;
    align-items: center;
}

nav {

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        @include space(m, 'gap');

        li {

            a {
                @include type(mono);
                font-family: type.$font-mono;
                text-transform: uppercase;
            }
        }
    }
}

aside {
    h3 {
        @include type(mono);
        font-family: type.$font-mono;
        text-transform: uppercase;
    }

    ul {

        li {
            @include space(xs, 'padding-left');
            @include type(paragraph);

            a {
                border-bottom: 1px solid currentColor;

            }
        }
    }
}




// Debugging styles
aside {
    // border: 1px solid salmon;
}

section {
    // border: 1px solid teal;
}